// Variables

$primary-color: #9b4dc9;
$secondary-color: #432f4e;

// General

.flex{
    display: flex;
}

.m-t-xs{
    margin-top: 5px;
}

.m-t-s{
    margin-top:10px;
}

.p-t-l{
    padding-top:40px;
}

.p-t-s{
    padding-top:10px;
}

.p-b-s{
    padding-top:10px;
}

.p-r-s{
    padding-right:10px;
}

.p-l-s{
    padding-left:10px;
}

.mt-n-m{
    margin-top: -50px;
}

.justify-space-between{
    justify-content: space-between;
}

html,
body,
#root,
.window {
    height: 100%;
}

.window{
    background-color: $primary-color;
}

.pointer{
    cursor: pointer;
}

.wd-100{
    width:100%;
}

.zombie-loader{
    width:150px;
}

.align-center{
    text-align:center;
}

.zombie-title{
    color:#fff;
    font-size:60px;
    font-family: 'Bangers';
    line-height: 60px;
}

.zombie-text{
    color:#fff;
    font-size:18px;
    font-family: 'Bangers';
}

.button-start{
    background-color: #fff;
    color:$secondary-color;
    margin-top:40px;
}

.button-group{
    margin: 0 auto;
    padding-left:20px;
    padding-right:20px;
    margin-top:20px;
    max-width: 600px;
    min-width: 350px;
}

.view-header{
    text-align:center;
    margin: 0 auto;
    max-width: 600px;
}

// Lost
.lostpage{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lostpage-zombie{
    width:200px;
}

// Login

.login-form{
    margin: auto;
    width: 100%;
    max-width: 400px;
    background: #fff;
    box-shadow: 0 0 8px #999;
    padding: 20px;
}

.login-header{
    text-align: center;
}

.login-title{
    color:#fff;
    font-size:60px;
    font-family: 'Bangers';
}

// Leader

.leader-view, .history-view{
    background-color: $primary-color;
}

.leader-board{
    border-top:1px solid #fff;
}

// About

.about-image{
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-view{
    margin: 0 auto;
    max-width:600px;
}

// Menu
.menu-view{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link{
    color:#fff;
    font-size:36px;
    font-family: 'Bangers';
    display: block;
    text-align:center;
    &:hover{
        color:$secondary-color;
    }
}

.menu-active{
    color:$secondary-color !important;
}

.menu-zombie{
    width: 200px;
    margin-bottom: 40px;
}

// Start
.start-header{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.start-text{
    color:#fff;
    font-size:24px;
    font-family: 'Bangers';
}

.start-content{
    margin: 0 auto;
    text-align: center;
}


.start-zombie-img{
    text-align: center;
    margin-bottom:20px;
}

.start-zombie{
    max-width:150px;
}

.start-diff{
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    margin: 0 auto;
    padding-left:20px;
    padding-right:20px;
}

.start-diff-select{
    color:#fff;
    font-size:24px;
    font-family: 'Bangers';
    display: block;
    text-align:center;
    &:hover{
        color:$secondary-color;
    }
}

// Game
.game-view{
    background-color: $primary-color;
}

.game-number{
    font-size: 16px;
    font-size: 4vw;
}

.game-grid{
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    border: 1px solid #333;
}

.sudoku-row{
    display: flex;
    flex-wrap: nowrap;
}

.sudoku-block{
    width: 11.1%;
    min-width: 40px;
    min-height: 50px;
    background-color: #fff;
    border: 1px solid #666;
    align-items: center;
    display: flex;
    .sudoku-input{
        margin:0;
        background-color:#fff;
        border:none;
        text-align:center;
        color:#000;
        &:disabled{
            font-weight:600;
            color:#000;
        }
        &:focus{
            border-color:#333;
        }
    }
}

.sudoku-row .sudoku-block:nth-child(3n+3) {  
    border-right:2px solid #333;
}

.sudoku-row .sudoku-block:last-child{
    border-right: 1px solid #333 !important;
}

.game-grid .sudoku-row:nth-child(3n+3){
    border-bottom: 2px solid #333;
}

.game-grid .sudoku-row:last-child{
    border-bottom: 1px solid #333 !important;
}